<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <h5>Message from :</h5>
        <p>Philippe Bordmann Blog</p>
        <h6>Send the : </h6>
        <p>{{ date | date('d-m-Y') }}</p>
        <h5>has wrote :</h5>
        <hr/>
        <p>Your registration has been validate by the administrators.
            You can now access th tha "admin" section of the blog.
        </p>
        <hr/>
        <h5>You can access here :</h5>
        <p>http://blogdapp5.com/login</p>
    </body>
</html>
