{% extends 'base.html.twig' %}

{% block pageContent %}
        <a href="javascript:window.scrollTo(0,document.body.scrollHeight)" class="pull-right btn btn-default" type="button" title="Page Bottom">
                <span class="glyphicon glyphicon-arrow-down"></span>
        </a>
        <h1>Modify the current Post</h1>
        <hr/>
        {{ form(form) }}
        <a href="javascript:window.scrollTo(0,0)" class="pull-right btn btn-default" type="button" title="Page Top">
                <span class="glyphicon glyphicon-arrow-up"></span>
        </a>
{% endblock %}
