<div class="container-fluid col-md-offset-1 col-md-10" id="contactContent">
    <div class="row">
        <div class="col-md-12">
            <div id="contactForm">
                {% if app.session.flashbag.has('success') %}
                    {{ app.session.flashBag.get('success')[0] }}
                {% else %}
                    {{ form(form) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>