{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid col-md-offset-1 col-md-10" id="contactContent">
        <div class="row">
            <div class="col-md-12">
                <div id="contactForm">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}