<div class="container-fluid col-md-offset-1 col-md-10" id="contactContent">
    <div class="row">
        <div class="col-md-12">
            <div id="contactForm">
                {% if success %}
                    <div class="messages">
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                                    <button id="closeContactMessage" type="button" class="close" data-dismiss="alert" aria-label="Close" >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form(form) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>