{% extends 'base.html.twig' %}

{% block pageContent %}
    <object type="application/pdf" width="100%" height="600px">
        <param name="src" value="{{ asset('pdf/CV_Philippe.pdf') }}" />

        <p>It appears your Web browser is not configured to display PDF files.
            No worries, just <a href="{{ asset('pdf/CV_Philippe.pdf') }}" style="color: #1b6d85">click here to download the PDF file.</a>
        </p>
    </object>
{% endblock %}