{% extends 'base.html.twig' %}

{% block pageContent %}
    <h1>Liste des Posts</h1>
    {% for post in pager.currentPageResults %}
        <article>
            <h3>{{ post.title }}</h3>
            <h6>Dernière modification le : <span>{{ post.dateLastModification | date('d-m-Y') }}</span></h6>
            <div>
                <p>{{ post.chapo }}</p>
            </div>
            <a href="#" style="color: white;">Lire le post</a>
            <br/>
        </article>
        <div class="pagerfanta">
            {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName' : 'posts_paginated'}) }}
        </div>
    {% endfor %}
{% endblock %}
