{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container-fluid" id="newPostContent">
        <h1>Créez votre nouveau Post</h1>
        <br/>
        <div id="newPostForm">
            {% if success %}
                {% include 'messageFlash.html.twig' with {'buttonId': 'closeNewPostMessage'} %}
            {% else %}
                {{ form(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}