{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container-fluid col-md-offset-1 col-md-10" id="newPostContent">
        <div class="row">
            <div class="col-md-12">
                <h1>Créez un nouveau Post :</h1>
                <div id="newPostForm">
                    {% if success %}
                        {% include 'messageFlash.html.twig' with {'buttonId': 'closeNewPostMessage'} %}
                    {% else %}
                        {{ form(form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}