<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <h2>Message from : Philippe Bordmann Blog</h2>
        <h3>Send the : </h3>
        <p>{{ date | date('d-m-Y') }}</p>
        <h3>has wrote :</h3>
        <p>Here you'll find your username</p>
        <p>{{ user.username }}</p>
    </body>
</html>