html {
    background: #18BC9C;
    min-height: 100%;
    position: relative;
}

article {
    background-color: #63D7C0;
    border-radius: 15px;
 }

a.captcha_reload {
    color: black;
    display: flex;
}

.captcha_image {
    margin: 0;
}

#rowContent {
    height: 100%;
}

.chapo, #postContent {
    text-align: justify;
}

.footer-below {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-above {
    margin-bottom: 15px;
}

#commentForm {
    margin-bottom: 15px;
}

p {
    color: #2C3E50;
    margin: 10px;
}

.dateModif {
    color: chocolate;
}

h1, h2, h3, h4, h5, h6 {
    color: #0C2032;
}

.chapo {
    padding: 15px;
}

#contactContent {
    margin-bottom: 20px;
}

#copyright {
    margin-top: 20px;
    margin-bottom: 0;
    color: white;
    text-align: left;
}

.dropdown-toggle, .dropdown-menu > li > a{
    color: white;
}

.loginLabel {
    color: black;
}

#footerNavbar {
    margin-bottom: 0;
}

#registrationForm {
    padding-bottom: 50px;
}

table {
    background-color: #0C2032;
}

.modal-content {
    color: #00AA88;
    background-color: #0C2032;
}

.modal-title {
    color: #00AA88;
}

th {
    color: #00b3ee;
    text-align: center;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #2C3E50; // Choose your own color here
}
