html {
    background: #18BC9C;
    min-height: 100%;
    position: relative;
}

article {
    background-color: #63D7C0;
    border-radius: 15px;
 }

a.captcha_reload {
    color: black;
    display: flex;
}

.captcha_image {
    margin: 0;
}

#rowContent {
    height: 100%;
}

.chapo, #postContent {
    text-align: justify;
}

.footer-below {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-above {
    margin-bottom: 15px;
}

#commentForm {
    margin-bottom: 15px;
}

p {
    color: #2C3E50;
    margin: 10px;
}

.dateModif {
    color: chocolate;
}

h1, h2, h3, h4, h5, h6 {
    color: #0C2032;
}

.chapo {
    padding: 15px;
}

#contactContent {
    margin-bottom: 20px;
}
