html {
    background: #18BC9C;
    min-height: 100%;
    position: relative;
}

article {
     background-color: #00CC00;
 }

a.captcha_reload {
    color: black;
}
a.captcha_reload :hover {
    background-color: #2C3E50;
}

#rowContent {
    height: 100%;
}

.chapo, #postContent {
    text-align: justify;
}

.footer-below {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-above {
    margin-bottom: 15px;
}
