<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <h2>Message from {{ contact.firstName }} {{ contact.lastName }}</h2>
        <h3>Send the : </h3>
        <p>{{ contact.date | date('d-m-Y') }}</p>
        <h3>has wrote :</h3>
        <p>{{ contact.message }}</p>
    </body>
</html>
