{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="well" id="registrationForm">
                <legend>New Password</legend>
                {{ form(form) }}
                <a href="{{ path('login') }}">Return to login page</a>
            </div>
            {% include 'messageFlash.html.twig' %}
        </div>
    </div>
{% endblock %}